<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="~{header::header}"></div>

    <div>
        <a href="/users/form.html" th:href="@{/users/form}" >创建用户</a>

    </div>
    <h3 th:text="${userModel.title}"></h3>
    <table border="1">
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>email</td>
            </tr>

        </thead>
        <tbody>
            <tr th:if="${userModel.userList.size() eq 0}">
                <td colspan="3">没有用户信息</td>
            </tr>
            <tr th:each="user : ${userModel.userList}">
                <td th:text="${user.id}"></td>
                <td ><a  th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></td>
                <td th:text="${user.email}"></td>
            </tr>

        </tbody>
    </table>
    <div th:replace="~{footer::footer}"></div>
</body>
</html>