<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{header::header}"></div>
<h3 th:text="${userModel.title}"></h3>
<div><strong>ID</strong><span th:text="${userModel.user.id}"> </span></div><br>
<div><strong>name</strong><span th:text="${userModel.user.name}"> </span></div><br>
<div><strong>email</strong><span th:text="${userModel.user.email}"> </span></div><br>
<a th:href="@{'/users/delete/'+${userModel.user.id}}">删除</a>
<a th:href="@{'/users/modify/'+${userModel.user.id}}">修改</a>
<div th:replace="~{footer::footer}"></div>

</body>
</html>